@import '@servicenow/sass-kit/host';
.tweet-wrap {
    max-width:490px;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius:3px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
  }
  .tweet-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
  }
  img {
    max-width:100%;
    padding: 10%;
  }
